a.nav-link{
    color:grey;
}

.img a:hover{
    color: red;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color:#262626;
    display: block;
    transition: all 0.2s;
}
.middle-bar{
    margin:5px auto;
}
.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar{
   opacity: 1;
   filter: alpha(opacity=100);
} 
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed.toggler-icon{
    background-color: #777777;
}

.newspaper {
column-count: 3;
column-gap: 10px;
}
.newspaper b{
color:navy;
}

.newspaper1 {
column-count: 3;
column-gap: 22px;
font-size:20px;
font-style: italic;
}
.newspaper1{
color:grey;
}

.button1{
background-color: #ddd;
border: none;
color: black;
width:1.5cm;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 4px;

border-radius: 16px;
height:0.6cm;
background-color: aqua; 
background-image: linear-gradient(aqua);
}

.button {
background-color:lightgray;
border: none;
color: black;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 16px;
}

.button:hover {
background-color: darkgrey;
}

.col-lg-3{
border:1px solid black; 
background-color: #FFFFFF0F;
height:5.5cm;
border-radius:15px;
column-gap:-10px;
}

.im{
height: 100%;
margin: 0;

}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align:left;
position: absolute;
top:50%;
left:25%;
transform: translate(-50%, -50%);
color: white;
color:black;
}


.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

@media (min-width:991px) and (max-width:1400px){
.br2{
display:none;
}
.p{
margin-top:-8.5cm;  
}
.p1{
margin-top:-7cm;  
}
.p2{
margin-top:-6cm;  
}
.r{
padding-left:100px;
}
/* .s1{
border:none;
} */

}
@media (min-width:991px) and (max-width:1400px){
.talmale{
display:none;
}
.B{
display:none;
}
.para{
display:none;
}
.i1{ margin-top:-4.5cm;
margin-left:480px;}

}
@media (min-width:0px) and (max-width:990px){ 
.talmale1{
display:none;
}
}

@media (min-width:768px) and (max-width:990px){ 
.f{
font-size:25px;
}
.para{
display:none;
}

.a{
margin-top:-5cm;
padding-left:5px;
}

/* .b1{
padding-left:5.5cm;
} */
/* .c{ padding-left:7.5cm;} */

.d{padding-top:7cm;}

.e{display:none;}

.g{margin-left:165px;
margin-top:-6cm;}

.h{margin-top:-4.5cm;
padding-left:300px;}

.i{ margin-top:-4.5cm;
margin-left:470px;}

.j{
margin-top:-1cm;
margin-bottom:3cm;
}
.k{
margin-bottom:2cm;
}
.l{
width:15rem;
}
.m{
margin-left:70px;
}
.n{
padding-left:20px;
}
.br2{
font-size:10px;
}

.p3{
margin-top:-2cm; 
}
.p4{
margin-top:-6cm; 
margin-left:250px;
}
.p5{
margin-top:-3.5cm; 
margin-left:500px; 
}
.q{
padding-left:25px;
}
.q1{
margin-left:15px;
}
/* .s{
text-align: center;
border:none;
} */
.navbar-toggler{
margin-right:500px;
margin-top:-0.8cm;
}
.navbar-brand{
margin-left:300px;
}
.B{
display:none;
}
.body{
margin:0cm;
padding:0cm;
}
.video{
height:10cm;
}

}

@media (min-width:0px) and (max-width:480px){ 
.A{
display:none;
}  
.newspaper{
display:none;
}
.C{
font-size:30px;
}
.D{
font-size:16px;
}

/* .E{
} */

.BT{
display:none;
}
.br3{
display:none;
}
.M{
margin-left:70px;
}
.N{
padding-left:25px;
}
.H{
height:6.5cm;
}
.I{
border:none;
}

}



/* .car{
    margin-right:15px;
}

.car1{
margin-left:-20px;
} */

.body{
margin:0cm;
padding:0cm;
}

@media (min-width:320px) and (max-width:766px){ 
.vid{
height:150px;
margin-top:120px;
}

.cda{
margin-bottom:70px;
border:none;
} 
.cc{
margin-bottom:70px;
}
.bca{
display:none;
}

}

@media (min-width:481px) and (max-width:1400px){ 
.abc{
display:none;
}

}

@media (min-width:992px) and (max-width:1400px){ 
    .laptop{
        display:none;
    }

    .mar{
        margin-left:90px;
    }
.cir{
    display:none;
}
.foot{
    margin-top:-1cm;
}
}

@media (min-width:0px) and (max-width:990px){ 
    .laptop1{
        display:none;
    }

}


@media (min-width:0px) and (max-width:990px){ 
    .text{
 text-align: center;
    }

    .text1{
        text-align:center;
    }
    .up{
        margin-top:-180px;
    }
    .up1{
        margin-top:-150px;
    }
}

@media (min-width:768px) and (max-width:991px){ 
    .container-fluid{
        overflow-x: hidden;
    }
    .navbar-toggler{
        margin-top:-60px;
    }

    .tp{
        margin-top:-6cm;
    }
    .cir1{
        display:none;
    }
    .cir{
        margin-top:35px;
    }
}

@media (min-width:768px) and (max-width:1400px){ 
    .next{
        display:none;
    }
}

@media (min-width:0px) and (max-width:480px){ 
    .ma{
        display:none;
    }

    .abo{
        margin-left:-15px;
    }
    .cir{
        display:none;
    }
}

@media (min-width:0px) and (max-width:480px){ 
    /* .sign{
        margin-left:-250px;
    } */

    .dri{
        margin-left:100px;
    }
    .container-fluid{
        overflow-x: hidden;
        overflow-y: hidden;
    }
.navbar-toggler{
    margin-top:-60px;
}
.blue{
 color:darkblue;   
}
.bat{
    padding-bottom:1cm;
}

}

@media(min-width:0px) and (max-width:991px){
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
      sticky + .content {
  padding-top: 102px;}
      }
